<%
path = micropost.id ? user_micropost_path(user, micropost) : user_microposts_path(user)
http_method = micropost.id  ? :patch : :post
%>
<%= form_for(micropost, url: path, method: http_method) do |fb| %>

  <div>
    <%= fb.label :content, style: "display: block" %>
    <%= fb.text_area :content %>
  </div>

  <div>
    <%= fb.submit %>
  </div>
<% end %>
